{% extends "generic-page.html" %}

{% block head %}
<script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/residoando/assets/jquery.tablesorter.js"></script> 
{% endblock %}

{% block style %}

<style type="text/css">
	body {
	background: #fafafa url(http://jackrugile.com/images/misc/noise-diagonal.png);
	color: #444;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	text-shadow: 0 1px 0 #fff;
}

strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

th {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
  	font-weight: bold;
  	text-align: center;	
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
	text-align: center;
}

tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

</style>

{% endblock %}

{% block content %}

	<div class="mdl-grid">
	  <div class="mdl-cell mdl-cell--2-col"></div>
	  <div class="mdl-cell mdl-cell--8-col">
	  	<div id="map-result" style="width: 100%; height: 72vh;"></div>
	  </div>
	  <div class="mdl-cell mdl-cell--2-col"></div>
	</div>
	<div class="mdl-grid">
	  <div class="mdl-cell mdl-cell--1-col"></div>
	  <div class="mdl-cell mdl-cell--10-col">
		 <table style="width:100%" id="myTable" class="tablesorter">
			 <thead> 
				<tr>
					<th>Nome</th>
					<th>Tipo</th>
					<th>ID</th>
					<th>Telefone</th>
					<th>Email</th>
					<th>Endereço</th>
					<th>Cidade</th>
				</tr>
			</thead> 
			<tbody>
		 	{% for item in company_index %}
			  <tr>
			    <td>{{ item.organization_name }}</td>
			    <td>{{ item.organization_type }}</td>
			    <td>{{ item.id }}</td>
			    <td>{{ item.phone }}</td>
			    <td>{{ item.email }}</td>
			    <td>{{ item.address }}</td>
			    <td>{{ item.city }}</td>
			  </tr>
		    {% endfor %}
		    </tbody>
		</table> 
	  </div>
	  <div class="mdl-cell mdl-cell--1-col"></div>
	</div>

{% endblock %}

{% block script %}

<script>
  function initMap() {
    var myLatLng = {lat: -23.5489, lng: -46.6388};

      var styleArray = [
        {
          featureType: 'all',
          stylers: [
            { saturation: -50 }
          ]
        },{
          featureType: 'road.arterial',
          elementType: 'geometry',
          stylers: [
            { hue: '#00ffee' },
            { saturation: 50 }
          ]
        },{
          featureType: 'poi.business',
          elementType: 'labels',
          stylers: [
            { visibility: 'off' }
          ]
        }
      ];

    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(document.getElementById('map-result'), {
      center: myLatLng,
      scrollwheel: true,
      zoom: 13,
      styles: styleArray
    });

    latitude = [];
    longitude = [];
    contentString = [];
    var infowindow = new google.maps.InfoWindow;
    {% for item in company_index %}
    	latitude[{{ item.id }}] = {{ item.latitude }};
    	longitude[{{ item.id }}] = {{ item.longitude }};
    	contentString[{{ item.id }}] = '<strong> {{ item.organization_name }} </strong> <br> <div> {{ item.address }} </div> <div> {{ item.phone }} </div>';
    {% endfor %}

	for (i = 0; i < latitude.length; i++) { 

	    marker = new google.maps.Marker({
	         position: new google.maps.LatLng(latitude[i], longitude[i]),
	         map: map,
	         icon: 'https://s3-sa-east-1.amazonaws.com/residoando/icon-1.png'
	    });

	    google.maps.event.addListener(marker, 'click', (function(marker, i) {
	         return function() {
	             infowindow.setContent(contentString[i]);
	             infowindow.open(map, marker);
	         }
	    })(marker, i));

	}

  }

	$(document).ready(function() 
		{ 
		    $("#myTable").tablesorter(); 
		} 
	); 

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhx18jDGJ7H-ywCkTk_3c29u9uOgEzFi8&callback=initMap" async defer></script>

{% endblock %}