{% extends "residues.html" %}

{% block head %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content-residues %}
<div style="margin: auto; background-color: #fff; padding: 15px; width: 30%; margin-top: 15px; text-align: center;">
	<form action="{% url 'similarity_rank_result' %}" style="margin: auto;" method="get">
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" id="string_to_rank" name="string_to_rank">
			<label class="mdl-textfield__label" for="sample1">Termo de busca...</label>
		</div>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" id="submit-form-similarity" style="background-color: #3f51b5; color: #fff;">
		  Pesquisar
		</button>
	</form>
</div>
{% endblock %}

{% block script %}
{% endblock %}